@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: blueviolet;
  color: whitesmoke;
  line-height: 1.6;
  font-weight: bolder;
}

.container {
  max-width: 768px;
  margin: auto;
  padding: 0 20px;
}

header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  background-color: blueviolet;
}
.card {
  background-color: #fff;
  color: #333;
  border-radius: 15px;
  padding: 30px 40px;
  margin: 20px 0;
  position: relative;
  border: 5px solid blue;
}

.card h2 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}
.display {
  display: flex;
  padding: 10px;
}
.num-display {
  position: relative; 
  background: #f4f4f4;
  min-width: 10%;
  height: 120px;
  padding: 10px;
  text-align: center;
  font-size: 10px;
  transition: 0.3s;
  border: 5px solid blue;
  margin: 10px;
  
}

.num-display {
  background-color:blueviolet;
  color: #fff;
}

.author-display {
  position: absolute;
  right: 30px;
  bottom: 20px;
}
.input-group {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  padding: 8px 10px;
  border-radius: 8px;
}

input {
  flex-grow: 2;
  border: none;
  font-size: 16px;
}

input:focus {
  outline: none;
}


.close,
.edit {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  background: none;
  border: none;
}

.edit {
  right: 40px;
}

.btn {
  color: #fff;
  border: 0;
  border-radius: 8px;
  color: #fff;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.btn-primary {
  background-color: #202142;
}

.btn-secondary {
  background: #ff6a95;
}

.btn:hover {
  transform: scale(0.98);
  opacity: 0.9;
}

.btn:disabled {
  background-color: #cccccc;
  color: #333;
  cursor: auto;
}

.btn:disabled:hover {
  transform: scale(1);
  opacity: 1;
}

.message {
  padding-top: 10px;
  height: 40px;
  text-align: center;
  color: rebeccapurple;
}
.about-link {
  display: flex;
  justify-content: flex-end;
}

.about-link a {
  color: #fff;
  cursor: pointer;
}

.about-link a:hover {
  color: #ff6a95;
}

.about h1 {
  margin-bottom: 20px;
}

.about p {
  margin: 10px 0;
}